**finalAnalysis
**spectrumAnalysis
**.csv*
**.kml
**addNoiseCh
**rtlizer
**.swp
**spectraCollarID
stamp-h1
**.o
**.in
**Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
callgrind.out.*
**.log
oprofile_data
run